<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cc.weno.mapper.SecretMapper">

    <resultMap id="detailSecretMap" type="cc.weno.pojo.Secret">
        <id property="secretId" column="secret_id"/>
        <result property="secretContent" column="secret_content"/>
        <result property="label" column="label"/>
        <result property="promulgator" column="promulgator"/>
        <result property="secretDate" column="secret_date"/>
        <result property="analyseMap" column="content_analyse"/>
        <association property="likeNum" column="secret_id" javaType="int"
                     select="cc.weno.mapper.SecretMapper.getLikeNum"/>
        <collection property="comments" column="secret_id"  javaType="ArrayList" ofType="cc.weno.pojo.SecretComment"
                    select="cc.weno.mapper.SecretMapper.getComments">
        </collection>
    </resultMap>



    <!--获得赞的数量-->
    <select id="getLikeNum" resultType="int">
        select count(*) from secret_like where secret_id = #{secretId}
    </select>

    <!--获得评论-->
    <select id="getComments" resultType="cc.weno.pojo.SecretComment">
      select comment_name,comment_content,comment_date from secret_comment where secret_id=#{secretId}
    </select>

    <!--插入一个秘密-->
    <insert id="addSecret">
      insert into secret(secret_id, secret_content, yiban_id, promulgator,label,secret_date,content_analyse)
        values (#{secretId},#{content},#{yibanId},#{promulgator},#{label},#{date},#{contentAnalyse})
    </insert>

    <!--添加一个赞-->
    <insert id="addLike">
        INSERT ignore into secret_like(secret_id,yiban_id) values (#{secretId},#{yibanId})
    </insert>
    <!--添加一个评论-->
    <insert id="addComment">
      INSERT into secret_comment(comment_content, comment_name,secret_id,comment_date) VALUES (#{content},#{name},#{secret_id},#{time})
    </insert>

    <!--通过秘密id获得信息-->
    <select id="getSecretById" resultMap="detailSecretMap">
        select secret.secret_content,secret.label,secret.secret_date,secret.promulgator,secret.secret_id,secret.content_analyse
        from secret where secret.secret_id=#{id}
    </select>

    <!--获得最新的消息-->
    <select id="getAllNewSecret" resultMap="detailSecretMap">
        select secret.secret_content,secret.promulgator,secret.secret_date,secret.secret_id
        from secret order by secret_id desc
    </select>

    <!--获得我的秘密-->
    <select id="getMySecret" resultMap="detailSecretMap">
      select secret.secret_content,secret.promulgator,secret.secret_date,secret.secret_id
        from secret where secret.yiban_id=#{yibanId} order by secret_id
    </select>


</mapper>